body {
  overflow: auto;
}

header {
  color: #202020;
  display: flex;
  justify-content: space-between;
  padding: 18px 32px;
  line-height: 56px;
}

header > span {
  line-height: 39px;
  vertical-align: middle;
  font-size: 22px;
}

.user i {
  color: #fafafa;
  background: #202020;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 10px;
}

.user > span {
  margin: 10px;
  cursor: pointer;
}

.dashboard {
  position: absolute;
  display: flex;
  top: 100px;
  bottom: 100px;
  right: 25px;
  left: 25px;
}

.panel {
  height: 100%;
}

.panel * {
  color: #202020;
}

.category-panel {
  position: relative;
  width: 150px;
  margin-right: 12.5px;
}

.category-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  height: 100%;
}

.category-title {
  padding: 12px 0;
  font-size: 22px;
  width: 100%;
  text-align: center;
}

.category-options {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.category-options > button {
  width: 100%;
  background: #fafafa;
  cursor: pointer;
  border: none;
  font-size: 16px;
  padding: 12px;
  border-radius: 5px;
  transition: 75ms;
  word-wrap: none;
}

.category-options > button > i {
  padding: 0 12px;
}

.category-options button:hover {
  background: #e7e7e7;
}

.products-panel {
  width: 100%;
  height: 100%;
  padding: 30px 30px;
}

.products-panel-header {
  display: flex;
  justify-content: space-between;
  padding: 0 65px;
}

.products-panel-header > button {
  width: 125px;
  height: 50px;
  border-radius: 2px;
  border: none;
  background: #69b161;
  color: #202020;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.35);
}

.product-category-name {
  font-size: 40px;
  padding-bottom: 25px;
}

.product-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  grid-gap: 15px;
  padding-left: 65px;
}

.product {
  height: 250px;
  width: 200px;
  transition: 500ms;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.product > img {
  min-height: 250px;
  min-width: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 10px;
}

.product:hover {
  scale: 1.05;
}

nav {
  margin: auto;
  margin-top: 40px;
  position: relative;
}

nav h2 {
  font-size: 1.5rem;
  border-radius: 2px;
  position: relative;
  background: #69b161;
  height: 40px;
  text-transform: uppercase;
  margin-bottom: 0;
  color: inherit;
  font-weight: 200;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.35);
  transition: all 0.4s;
}

nav:hover h2 {
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.35);
  transition: all 0.4s;
}

#toggle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  height: 40px;
}

h2::before{
  position: absolute;
  right: 0;
  top: 0;
  height: inherit;
  background: currentColor;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}


#toggle:checked ~ ul {
  visibility: hidden;
  opacity: 0;
}

#toggle:not(:checked) ~ ul {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}


nav ul {
  padding-left: 0;
  padding-top: 1rem;
  margin-top: 0;
  background: #ffffff;
  list-style: none;
  overflow: hidden;
  text-align: center;
  transition: all 0.4s ease-out;
  width: 100%;
  position: absolute;
}
nav ul li {
  border-radius: 2px;
  position: relative;
  display: inline-block;
  line-height: 1.5;
  width: 100%;
  margin: 0 0 0.25rem 0;
  transition: background 3s;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.35);
}

nav ul li > button {
  width: 100%;
  padding: 3px;
  margin-bottom: 5px;
  border: none;
}


nav ul a {
  display: block;
  color: inherit;
  text-transform: lowercase;
  font-weight: 200;
  text-decoration: none;
}


.category-drop-down {
  width: 60%;
  margin: auto;
  color: #202020;
  display: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.footer {
  padding: 12.5px 0;
}

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header > .user {
    display: flex;
    justify-content: space-between;
  }

  .category-panel {
    display: none;
  }

  .category-drop-down {
    display: block;
    margin: 0 auto;
  }

  .dashboard {
    flex-direction: column;
    left: 17px;
    height: auto;
  }

  .products-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: auto;
    padding-bottom: 0;
  }

  .product > img {
    min-height: 200px;
    min-width: 130px;
  }

  .products-panel-header {
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
  }

  .product-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 20px;
    row-gap: 100px;
    align-content: start;
    padding-left: 0;
  }

  .user i {
    margin-right: 0;
  }

  .product {
    height: 180px;
    width: 130px;
  }

  .product > img {
    height: 180px;
    width: 130px;
  }

  .footer {
    padding-top: 30px;
    position: relative !important; 
    margin-top: auto;
  }
}
